button {
  display: block;
  margin: 1em auto;
}

.App {
  text-align: center;
}

.deposit-amounts-ul {
  list-style: none;
}

.deposit-amounts-ul li {
  display: inline-block;
  margin: 0.5em 2em;
}

.deposit-amounts-ul li input {
  display: inline-block !important;
  width: 2em;
}

/***  WITHDRAW PAGE ***/
.withdraw-wrapper label {
  display: block;
}

.withdraw-note-label input {
  height: 100px;
}

.btc-recipient-label input {
  width: 300px;
}

.page-selector-div button {
  display: inline-block;
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
}
